#main{
display: flex;
flex-direction: column;
justify-content: center;

}
#image{
    width: 50%;
    height: auto;
}
#img-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
